.main {
    display: flex;
}

.background {
    background-image: url('/back.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 716px;
    height: 100vh;
}

.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 724px;
}

.success {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.title {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    margin-bottom: 24px;
    width: 340px;
}

.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
    width: 340px;
}

.button {
    width: 235px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3452b4;
    border-radius: 10px;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    border: none;
    margin-top: 24px;
}

.button:hover {
    cursor: pointer;
    background-color: #1e378b;
}

.button:active {
    background-color: #5b76cf;
}
